[submodule ".vim/bundle/delete-surround-html"]
	path = .vim/bundle/delete-surround-html
	url = http://github.com/mjbrownie/delete-surround-html.git
[submodule ".vim/bundle/django-template-textobjects"]
	path = .vim/bundle/django-template-textobjects
	url = http://github.com/mjbrownie/django-template-textobjects.git
[submodule ".vim/bundle/html-textobjects"]
	path = .vim/bundle/html-textobjects
	url = http://github.com/mjbrownie/html-textobjects.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/argumentrewrap"]
	path = .vim/bundle/argumentrewrap
	url = https://github.com/jakobwesthoff/argumentrewrap.git
[submodule ".vim/bundle/searchfold"]
	path = .vim/bundle/searchfold
	url = https://github.com/vim-scripts/searchfold.vim.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/jshint"]
	path = .vim/bundle/jshint
	url = https://github.com/wookiehangover/jshint.vim.git
[submodule ".vim/bundle/extradite"]
	path = .vim/bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule ".vim/bundle/chapa"]
	path = .vim/bundle/chapa
	url = https://github.com/alfredodeza/chapa.vim.git
[submodule ".vim/bundle/taglist-plus"]
	path = .vim/bundle/taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule ".vim/bundle/thermometer"]
	path = .vim/bundle/thermometer
	url = https://github.com/dgsuarez/thermometer.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/ropevim"]
	path = .vim/bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/simplenote"]
	path = .vim/bundle/simplenote
	url = git://github.com/mrtazz/simplenote.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/makegreen"]
	path = .vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule ".vim/bundle/py.test"]
	path = .vim/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/nose.vim"]
	path = .vim/bundle/nose.vim
	url = https://github.com/lambdalisue/nose.vim.git
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/coffeescript"]
	path = .vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
